// Start About Section
section#about.smoth-section.about
	.container
		+section-title('who we are','about us')
		.row
			.col-12.col-md-6
				.about-info
					h5 hi there i'm 
						span sami aman
					p  front end developer means we’ve got you covered on design and content right through to digital. You’ll form a lasting relationship with us, collaboration is central to everything we do. We’ll push you out of your comfort zone from time-to-time, but this is where you’ll shine. 
					.row
						.col-md-6
							.info-box
								span.icon-wrap
									i.fa.fa-envelope-o 
									|email : 
								span.info-details samiaman@gmail.com

							.info-box
								span.icon-wrap
									i.fa.fa-map-marker
									|location :
								span.info-details 3040,filario,ca.
						.col-md-6
							.info-box
								span.icon-wrap
									i.fa.fa-calendar
									|date of birth :
								span.info-details 21 juin 1992

							.info-box
								span.icon-wrap
									i.fa.fa-phone
									|phone :
								span.info-details +1-120-555-125
						.col-md-12
							.social-media-info
								a(href='#')
									i.fa.fa-facebook
								a(href='#')
									i.fa.fa-twitter
								a(href='#')
									i.fa.fa-pinterest
								a(href='#')
									i.fa.fa-behance
						

			.col-12.col-md-6
				.about-skills
					.progress-skill
						.progress-label sass, pug
						.progress-percent 82%
						.progress
							div(data-value='82' style='width: 82%').progress-bar

					.progress-skill
						.progress-label bootstrap4
						.progress-percent 65%
						.progress
							div(data-value='65' style='width: 65%').progress-bar

					.progress-skill
						.progress-label javascript,jquery
						.progress-percent 75%
						.progress
							div(data-value='75' style='width: 75%').progress-bar

					.progress-skill
						.progress-label vue.js
						.progress-percent 52%
						.progress
							div(data-value='52' style='width: 52%').progress-bar
					
					a(href='#').theme-button.mt-4 download cv
				


					//- .about-link
					//- 	a(href='#') hire us
// End About Section 

