// Strat Blog Section 
section#blog.smoth-section.blog
	.container
		+section-title('latest news','our blog')
		.row
			.col-12.col-sm-6.col-lg-4
				.singel-blog
					.blog-image
						img(src='images/blog/1.jpg' alt='')
						span.category desinge
					.blog-body
						.blog-title
							h4  How to become a freelancer
						.blog-desc
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ipsum consectetur animi voluptatibus quo ipsam, at eius autem magnam quia. 
						.blog-info.clearfix
							span.blog-date.float-right
								i.fa.fa-calendar-o.date-icon
								|  18/April/2020
							span.blog-author.float-left
								a(href='#').author-link
									i.fa.fa-chevron-right
								|  read more
						
			.col-12.col-sm-6.col-lg-4
				.singel-blog
					.blog-image
						img(src='images/blog/2.jpg' alt='')
						span.category ui/ux
					.blog-body
						.blog-title
							h4  How to become a freelancer
						.blog-desc
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ipsum consectetur animi voluptatibus quo ipsam, at eius autem magnam quia. 
						.blog-info.clearfix
							span.blog-date.float-right
								i.fa.fa-calendar-o.date-icon
								|  18/April/2020
							span.blog-author.float-left
								a(href='#').author-link
									i.fa.fa-chevron-right
								|  read more
			
			.col-12.col-sm-6.col-lg-4
				.singel-blog
					.blog-image
						img(src='images/blog/3.jpg' alt='')
						span.category developer
					.blog-body
						.blog-title
							h4  How to become a freelancer
						.blog-desc
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ipsum consectetur animi voluptatibus quo ipsam, at eius autem magnam quia. 
						.blog-info.clearfix
							span.blog-date.float-right
								i.fa.fa-calendar-o.date-icon
								|  18/April/2020
							span.blog-author.float-left
								a(href='#').author-link
									i.fa.fa-chevron-right
								|  read more

			.col-12.d-flex.justify-content-center
				a(href='blog.html').theme-button see more

							
// End Blog Section 