// Start Footer 
footer
  .container
    .row
      .col-sm-12
        .social
          a(href='#')
            i.fa.fa-facebook
          a(href='#')
            i.fa.fa-twitter
          a(href='#')
            i.fa.fa-pinterest
          a(href='#')
            i.fa.fa-behance

      .col-sm-12
        p.copyright copyright &copy;2020 
          span Zara 
          | all rights reserved

      

      

      
// End Footer