// Start Hero Section 

section#home.smoth-section.hero
  .intro.text-center
    .container
      h1 sami aman!
      h3 i'm  
        span.typed
      a(href='#').intro-button.theme-button.mr-2 view works
  a(href='#').go-down
    i.fa.fa-chevron-down.go-down-icon



// End Hero Section 
