// Start Portfolio Section 

section#portfolio.smoth-section.portfolio
	
	.container.max
		+section-title('awesome work','our protfolio')
		.row
			.col-md-12
				.control-box
					button(type='button',data-filter='all').active all
					button(type='button',data-filter='.desinge') desinge
					button(type='button',data-filter='.branding') branding
					button(type='button',data-filter='.marketing') marketing

			.mix.desinge.col-md-4.col-lg-4
				.port-box
					.port-overlay
						a(href='')
							i.fa.fa-link
					img(src='images/portfolio/1.jpg')

			.mix.marketing.col-md-4
				.port-box
					.port-overlay
						a(href='')
							i.fa.fa-link
					img(src='images/portfolio/2.jpg')

			.mix.desinge.col-md-4
				.port-box
					.port-overlay
						a(href='')
							i.fa.fa-link
					img(src='images/portfolio/3.jpg')

			.mix.marketing.col-md-4
				.port-box
					.port-overlay
						a(href='')
							i.fa.fa-link
					img(src='images/portfolio/4.jpg')


			.mix.branding.col-md-4
				.port-box
					.port-overlay
						a(href='')
							i.fa.fa-link
					img(src='images/portfolio/5.jpg')

			.mix.branding.col-md-4
				.port-box
					.port-overlay
						a(href='')
							i.fa.fa-link
					img(src='images/portfolio/6.jpg')



// End Portfolio Section 