// Start Services Section

section#services.smoth-section.services
	.container
		+section-title('our awesome','services')
		.row.no-gutters
			.col-sm-6.col-md-4
				.singel-service
					i.fa.fa-desktop.ser-icon
					h5.ser-title web development
					
					p.ser-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus totam commodi ipsa non omnis architecto.

	

			.col-sm-6.col-md-4
				.singel-service
					i.fa.fa-code.ser-icon
					h5.ser-title web design
					
					p.ser-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem minima eos, labore accusamus in deserunt?

			.col-sm-6.col-md-4
				.singel-service
					i.fa.fa-paint-brush.ser-icon
					h5.ser-title logo design
					
					p.ser-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum aliquam minima perferendis provident, nulla, rerum.

			.col-sm-6.col-md-4
				.singel-service
					i.fa.fa-bar-chart-o.ser-icon
					h5.ser-title responsive design
					
					p.ser-desc Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo laborum qui, praesentium repellendus mollitia ex.

			.col-sm-6.col-md-4
				.singel-service
					i.fa.fa-envelope-open-o.ser-icon
					h5.ser-title designe
					
					p.ser-desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum odit unde dignissimos culpa, necessitatibus suscipit.

			.col-sm-6.col-md-4
				.singel-service
					i.fa.fa-user-o.ser-icon
					h5.ser-title support
					
					p.ser-desc   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium nulla voluptatem, doloribus debitis perspiciatis, eveniet.

// End Services  Section