.side-menu
		.hamburger-toggle
			i.fa.fa-align-right.icon

		.menu
			a(href='#' data-scroll='home').menu-link.active
				i.iink-icon.fa.fa-home

			a(href='#' data-scroll='about').menu-link
				i.iink-icon.fa.fa-user-o

			a(href='#' data-scroll='services').menu-link
				i.iink-icon.fa.fa-star-o

			a(href='#' data-scroll='portfolio').menu-link
				i.iink-icon.fa.fa-suitcase

			a(href='#' data-scroll='testimonials').menu-link
				i.iink-icon.fa.fa-comments

			a(href='#' data-scroll='blog').menu-link
				i.iink-icon.fa.fa-book

			a(href='#' data-scroll='contact').menu-link
				i.iink-icon.fa.fa-envelope-open-o