// Start Testimonials
.testimonials.smoth-section#testimonials
  .container
    +section-title('clients say','testimonials')
    .owl-carousel
    

      .singel-client
        .client-quote
          i.fa.fa-quote-left.icon
          blockquote  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quisquam dolorum est veniam maiores consequuntur sunt dignissimos molestiae, id aliquam.
        .client-info-wrap
          .client-img
            img(src='images/testimonials/1.jpg' alt='')
          .client-info
            h4 jhon doe
            p designer

      .singel-client
        .client-quote
          i.fa.fa-quote-left.icon
          blockquote  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quisquam dolorum est veniam maiores consequuntur sunt dignissimos molestiae, id aliquam.
        .client-info-wrap
          .client-img
            img(src='images/testimonials/2.jpg' alt='')
          .client-info
            h4 jane doe
            p developer


      .singel-client
        .client-quote
          i.fa.fa-quote-left.icon
          blockquote  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quisquam dolorum est veniam maiores consequuntur sunt dignissimos molestiae, id aliquam.
        .client-info-wrap
          .client-img
            img(src='images/testimonials/3.jpg' alt='')
          .client-info
            h4 james doe
            p head project


      .singel-client
        .client-quote
          i.fa.fa-quote-left.icon
          blockquote  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quisquam dolorum est veniam maiores consequuntur sunt dignissimos molestiae, id aliquam.
        .client-info-wrap
          .client-img
            img(src='images/testimonials/4.jpg' alt='')
          .client-info
            h4 adrian doe
            p wordpress developer

      .singel-client
        .client-quote
          i.fa.fa-quote-left.icon
          blockquote  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit quisquam dolorum est veniam maiores consequuntur sunt dignissimos molestiae, id aliquam.
        .client-info-wrap
          .client-img
            img(src='images/testimonials/5.jpg' alt='')
          .client-info
            h4 sam doe
            p developer


// End Testimonials
