extends base.pug
block content
	include pug/layout/about.pug
	include pug/layout/services.pug
	include pug/layout/portfolio.pug
	include pug/layout/testimonials.pug
	include pug/layout/blog.pug
	include pug/layout/contact2.pug
