// Scripts ==> [jquery, bootstrap, nicescroll, typed, mixitup, owl-carousal, main.js]
script(src='js/vondor/jquery.min.js')
script(src='js/vondor/bootstrap.min.js')
script(src='js/vondor/typed.min.js')
script(src='js/vondor/mixitup.min.js')
script(src='js/vondor/owl.carousel.min.js')

script(src='js/main.js')