// Styles ==> [Bootstrap, FontAwesom, Owl-carousel, Main.css]
link(rel='stylesheet' href='css/vondor/bootstrap.min.css')
link(rel='stylesheet' href='css/vondor/font-awesome.min.css')
link(rel='stylesheet' href='css/vondor/owl.carousel.min.css')
link(rel='stylesheet' href='css/vondor/owl.theme.default.min.css')
link(rel='stylesheet' href='css/main.css')

